body {
  min-width: 800px;
  max-width: 1000px;
  margin: auto;
}

header {
  margin: auto;
  background-color: rgb(42, 42, 255);
  color: white;
  text-align: center;
  border-radius: 10px;
  border: solid whitesmoke 3px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  padding-top: 15px;
}

header p {
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

section {
  text-align: center;
  width: 70%;
  margin: auto;
  background-color: rgb(41, 169, 212);
  border-radius: 20px;
  border: solid black 3px;
}

div {
  width: 70%;
  margin: auto;
  background-color: rgb(41, 169, 212);
  border-radius: 15px;
  border: solid black 3px;
}

p {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

img {
  height: 150px;
  width: 150px;
  margin-top: 100%;
  display: inline-block;
  margin: 20px 5px 20px 5px;
  border-radius: 10px;
  border: solid black 2px;
}

footer {
  width: 60%;
  height: 100px;
  margin: auto;
  margin-top: 5px;
  background-color: whitesmoke;
  border-radius: 10px;
  text-align: center;
}

h2 {
  font-size: 20px;
  padding-top: 20px;
  margin: 0px auto 15px auto;
}

footer p {
  font-size: 20px;
  margin: 15px auto 30px auto;
}